$red: #D30030
$pale-yellow: #ECF1C4
$pale-blue: #cae7ef
$dark-blue: #042f3b

$color-accent: $dark-blue
$color-background-alt: $pale-blue
$color-background: $pale-yellow

$body-font-family: "Geomanist", sans-serif
$heading-font-family: $body-font-family
$h1-text-transform: uppercase

$header-logo-height: 60px
$header-logo-height-desktop: 100px
$header-border-bottom-width: 0

$block-image-max-height-with-sidebar: none
