.lead
    text-transform: uppercase
    color: $dark-blue
// h1, .h1
//     text-transform: uppercase
//     font-weight: 700
//     line-height: px2rem(60)
//     @include media-breakpoint-down(md)
//         font-size: px2rem(46)
//         line-height: px2rem(50)

// h2, .h2
//     line-height: px2rem(50)
//     @include media-breakpoint-down(md)
//         font-size: px2rem(30)
//         line-height: px2rem(36.3)

// h3, .h3
//     line-height: px2rem(36)
//     @include media-breakpoint-down(md)
//         font-size: px2rem(28)
//         line-height: px2rem(30)

// h4, .h4
//     font-size: px2rem(28)
//     line-height: px2rem(30)

// body
//     font-size: px2rem(26)
//     line-height: px2rem(37)
//     @include media-breakpoint-down(md)
//         font-size: px2rem(20)
//         line-height: px2rem(28)
//     > main
//         background:
//             image: url('../images/sunflower.png')
//             position: calc(100% - 20px) calc(100% + 22px)
//             repeat: no-repeat
//             size: 210px auto
//         padding-bottom: 300px
//         @include media-breakpoint-up(xl)
//             background:
//                 position: calc(50% + 545px)calc(100% + 22px)
//         @include media-breakpoint-down(md)
//             background:
//                 size: 160px auto
//             padding-bottom: 220px

// .breadcrumb
//     font-size: px2rem(18)
//     justify-content: center

// .toc
//     position: relative
//     ol
//         padding-right: 100px
//     &::after
//         background:
//             image: url('../images/leaf.png')
//             repeat: no-repeat
//             size: cover
//         content: ''
//         display: block
//         height: 180px
//         position: absolute
//         right: 0
//         top: 0px
//         width: 130px
//         @include media-breakpoint-down(md)
//             height: 160px
//             top: -20px
//             transform: rotate(-75deg)
//             width: 100px

// .block-pages
//     .pages
//         .title a
//             text-decoration-color: rgba(white, 0)

// HEADER

header#document-header
    .logo
        img
            margin-left: -6px
            // margin-bottom: -100px
            // vertical-align: top
//     .navbar
//         > .container
//             align-items: start

//     .menu
//         > ul
//             @include media-breakpoint-down(md)
//                 padding-right: 34px
//     nav[role=navigation] 
//         button[type=button]
//             z-index: 3
//             span:first-of-type
//                 font-size: px2rem(20)
//                 text-transform: none
    
// // FOOTER
// footer#document-footer
//     background-color: $yellow
//     // padding-bottom: calc(#{$grid-gutter-width} * 2.5)
//     // padding-top: calc(#{$grid-gutter-width} * 2.5)
//     .logo
//         img
//             height: 130px
//             margin-top: -78px
//             max-width: 100%
//             width: auto
//             @include media-breakpoint-down(md)
//                 height: 100px

//     .nav-level-1
//         align-items: flex-end