.hero
    text-align: center
    img
        display: block
        height: auto
        margin: auto
        max-width: 100%
        width: 414px
    .title-avatar
        margin-top: 80px
    .avatar
        margin: auto
        max-width: 300px