<header class="hero">
  {{- if .Params.image }}
    {{ partial "commons/image.html"
        (dict
          "image"    .Params.image
          "alt"      .Title
          "mobile"   "351"
          "tablet"   "456"
          "desktop"  "856"
          "lazy"     false
        ) }}
  {{ end -}}
  <div class="container">
    <h1>{{ partial "PrepareHTML" .Title }}</h1>
    {{ if .Params.header_text }}
      <h2>{{ partial "PrepareHTML" .Params.header_text }}</h2>
    {{ end }}
    {{ partial "header/breadcrumbs.html" . }}
  </div>
</header>
