.share
    margin-bottom: 0
    overflow: hidden
    padding-bottom: map-get($spacers, 4)
    position: relative
    > div
        padding-right: calc(50% + 12px)
    @include media-breakpoint-up(md)
        text-align: right
    .h3
        font-style: italic
        margin-bottom: px2rem(26)
    a
        font-size: px2rem(18)
        line-height: px2rem(24)
        text-decoration: none
        @include media-breakpoint-up(md)
            display: block
            margin-bottom: px2rem(26)
            .icon, span
                display: inline-block
                vertical-align: middle
        @include media-breakpoint-down(md)
            span
                display: none
        &::after
            display: none
        .icon
            color: $red
            margin-left: 5px
    &::after
        background:
            image: url('../images/leaf.png')
            repeat: no-repeat
            size: cover
        content: ''
        display: block
        height: 180px
        position: absolute
        right: 0
        top: 10px
        width: 130px
        @include media-breakpoint-down(md)
            height: 160px
            top: -20px
            transform: rotate(-75deg)
            width: 100px