header[role=banner]
    @include media-breakpoint-up(md)
        left: 0
        position: fixed
        right: 0
        top: 0
    .logo
        z-index: 3 
        img
            height: 100px
            margin-bottom: -100px
            vertical-align: top
    .navbar
        > .container
            align-items: start

    .menu
        background: $white
        text-align: right
        > ul
            @include media-breakpoint-down(md)
                padding-right: 34px
    nav[role=navigation] 
        button[type=button]
            z-index: 3
            span:first-of-type
                font-size: px2rem(20)
                text-transform: none