<header class="hero">
  {{- if .image }}
    {{ partial "commons/image.html"
        (dict
          "image"    .image
          "alt"      .title
          "mobile"   "351"
          "tablet"   "456"
          "desktop"  "856"
          "lazy"     false
        ) }}
  {{ end -}}
  <div class="container">
    <div>
      <h1>{{ safeHTML (partial "CorrectPunctuation" .context.Title) }}</h1>
    </div>
    {{ if .context.Params.header_text }}
      <h2>{{ partial "PrepareHTML" .context.Params.header_text }}</h2>
    {{ end }}
    {{- if .breadcrumb | default true -}}
      {{ partial "header/breadcrumbs.html" .context }}
    {{- end -}}
  </div>
</header>
